.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  box-flex: center;
}
/*****************************
  NAV
*****************************/
.rev-logo {
  width: auto;
  height: 2em;
  margin-right: 2em;
}

.margin-nav {
  margin-right: 2em
}
.navbar-light .navbar-nav .active .nav-link {
  color:rgba(82, 218, 93, 0.863)
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(230, 0, 0, 0.7);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
}

.bg-light {
  background-color: #4e4e4e !important;
}

nav {
  border-bottom: 1px solid #222222 !important;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}

#examples-dropdown {
  cursor: pointer;
}
/***************************************
 Login-System
 ***************************************/
 .logo {
  text-align: center;
  font-size: 50px;
  margin: auto;
  padding: 5px;

}
html {
  position: relative;
  min-height: 100%;
}
html, body {
  margin: 0;
}
body {
  padding: 25px;
  color: rgb(88, 125, 246);
  background-image: url(https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Forig00.deviantart.net%2F64e3%2Ff%2F2013%2F183%2F5%2F8%2Fseamless_fabric_pattern_dark_by_shandya-d6br6zb.png&f=1);
}

main {
  margin: 0 auto;
  margin-top: 130px;
  padding: 0;
  display: flex;

  justify-content: center;
}

.model-content {
  background-color: #16071f;
  opacity: .9;
  padding: 0 20 px;
  border-radius: 15px;
  border: 5px solid #e9e9e9;
  margin: 50px 60px 60px 60px;
}
.main-section {
  align-items: center;
  max-width: 100%;
}
.user-img img {
  height: 300px;
  width: 300px;
  margin-top: -90px;
}
.user-img {
  margin-top: -65px;
  margin-bottom: 45px;
}
.logtitle {
  font-size: 30px;
  border-bottom: 4px solid;
  margin: auto;
  padding: 0px;
}
.form-group {
  padding-top: 10px;
  margin-bottom: 25px;
}
.form-group input {
  height: 44px;
  border-radius: 5px;
  border: 0;
  font-size: 24px;
  letter-spacing: 2px;
  padding-left: 54px;
}
.form-group::before {
  font-family: 'Font Awesome\ 5 free';
  content: "#";
  position: absolute;
  font-size: 32px;
  font-weight: 900;
  left: 28px;
  padding-top: px;
  color: black;
  
}
.btn-login {
  color: silver;
  font-family: 'ARIAL';
  font-size: 30px;
  background-color: darkblue;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  width: 45%
  
}

footer {
font-size: 12px;
position: absolute;
left: 0;
bottom: 0;
height: 25px;
width: 100%;
overflow: hidden;
}

.row{
  color: black;
}

.Spin-freddy-img {
  width: 500px;
  height: 500px;
}

.create-back {
  background-color: darkgrey;
  padding: 20px;
  border: 5px solid black;
  border-radius: 10px;
  opacity: .66;
}

.card-img-top {
  height: 150px;
  width: 150px;
}
/***********************************************
PROFILE
************************************************/
.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.card.hovercard .cardheader {
  background: url("https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Ft%2Faluminum-frame-perforated-metal-23764616.jpg&f=1");
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.705);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #bdbdbd;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.Section-main-home {
  position: center;
  text-align: center;
  stroke: red;
  stroke-width:2px;
  stroke-linejoin: round;
}